<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">会員情報編集</h4>
      <table class="table table-borderless">
        <%= form_with model: @customer, url: profile_customer_path, method: :patch do |f| %>
          <tr>
            <td>アイコン画像</td>
            <td></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
            <td></td>
          </tr>
          <tr>
            <td>自己紹介文</td>
            <td><%= f.text_field :introduction %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
            <td><%= link_to "退会する", unsubscribe_customer_path, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>