<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-5">投稿編集</h4>
      <table class="table table-borderless">
        <%= form_with model: @post, url: public_post_path, method: :patch do |f| %>
          <tr>
            <td>タイトル</td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td>本文</td>
            <td><%= f.text_field :introduction %></td>
            <td></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "編集内容を保存", class:"btn btn-success" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>