<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">

        <div class="container">

            <% if customer_signed_in? %>
              <%= link_to public_posts_path, class:"navbar-brand p-3" do %>
              <%= image_tag "logo.png", size:'200x80'%>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to admin_root_path, class:"navbar-brand p-3" do %>
              <%= image_tag "logo.png", size:'200x80'%>
              <% end %>
            <% else %>
              <%= link_to root_path, class:"navbar-brand p-3" do %>
              <%= image_tag "logo.png", size:'200x80'%>
              <% end %>
            <% end %>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>

            <!--会員がログインしている時 -->
              <li class="nav-item">
                ようこそ、<%= current_customer.name %>さん！
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", list_public_customers_path, class: "btn btn-outline-warning text-dark"  %>
              </li>
              <li class="nav-item">
                <%= link_to "ジャンル", public_genres_path, class: "btn btn-outline-warning text-dark"  %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "btn btn-outline-warning text-dark"  %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, class: "btn btn-outline-warning text-dark" , method: :delete%>
              </li>
              <li class="nav-item">
                <%= link_to "投稿する", new_public_post_path, class: "btn btn-outline-warning text-dark"%>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", public_customer_path(current_customer), class: "btn btn-outline-warning text-dark"  %>
              </li>
            <% elsif admin_signed_in? %>
              <!-- 管理者がログインしている時 -->
              <li class="nav-item">
                管理者画面です
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-warning text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "グループ一覧", admin_groups_path, class: "btn btn-outline-warning text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "カテゴリ一覧", admin_genres_path, class: "btn btn-outline-warning text-dark" %>
              </li>
              <li class="nav-item">
                <%= link_to "コメント一覧", admin_post_comments_path, class: "btn btn-outline-warning text-dark" %>
              </li
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, class: "btn btn-outline-warning text-dark" , method: :delete %>
              </li>
            <% else %>
              <!-- ログインしていない時 -->
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-warning text-dark"  %>
              </li>
              <li class="nav-item">
                <%= link_to "About", about_path, class: "btn btn-outline-warning text-dark"  %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-warning text-dark"  %>
              </li>
            <% end %>
          </ul>
          <%#= form_with class: 'd-flex' do |f| %>
            <%#= f.text_field :content, placeholder: "検索..." %>
            <%#= f.submit '検索', class: 'ml-1 btn btn-outline-warning flex-shrink-0' %>
          <%# end %>

          <% if customer_signed_in? %>
            <div class="search_form">
              <%= form_with url: public_search_path, local: true, method: :get do |f| %>
                <%= f.text_field :word %>
                <%= f.select :model, options_for_select([['customer'], ['post']]) %>
                <%= f.submit "検索", class: "btn btn-primary" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  </nav>
</header>